* {
  padding: 0;
}
body{
  max-width: 100% !important;
    overflow-x: hidden !important;
  overflow-x: hidden !important;
}

@media screen and (max-width: 667px) {
  body {
      overflow-x: hidden !important;
  }
  .container {
      max-width: 100% !important;
      overflow-x: hidden !important;
  }
}

.navbar {
  color: white;
}

img {
  margin-top: 5px;
}

#active {
  color: #00ff15;
}

input {
  color: blue;
  caret-color: red;
}

.dashboard-text {
  text-align: start;
  font-size: 20px;
  text-transform: initial;
  color: orangered;
}

#name a{
  /* text-decoration: none; */
}
jobsnap-link{
  font-size: 30px;
  color: blue;
}

#dashboard {
  background-color: white;
  margin-top: 100px;
  border-radius: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.579); */
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.199), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro {
  font-size: 20px;
}

#tallies {
  padding: 10px;
}

#tallies #tickets, #tallies #agencies, #tallies #busses {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 
  border-left: 2px solid white;
  color: red;
  font-size: 20px;
  margin-top: 10px;
}

#tallies #tickets span, #tallies #agencies span, #tallies #busses span {
  color: green;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

#footer {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: rgb(63, 65, 67);
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
  color: orangered;
}

/* dasboard */
#Routes-dashboard {
  text-align: start;
  margin-bottom: 50px;
  margin-top: 50px;
}

#route-text {
  text-align: center;
}

#route-text h3 {
  color: orangered;
}

/* book now */
#routes {
  -webkit-animation-name: bookings;
          animation-name: bookings;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bookings {
  0% {
    color: red;
  }
  50% {
    color: greenyellow;
  }
  100% {
    color: blue;
  }
}

@keyframes bookings {
  0% {
    color: red;
  }
  50% {
    color: greenyellow;
  }
  100% {
    color: blue;
  }
}

/* bookings */
#bookings {
  margin-top: 50px;
}

#sub {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

#sub button {
  width: 50%;
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  margin: auto;
  border-radius: 20%;
}

#confirm {
  width: 70%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  margin: auto;
  border-radius: 10%;
}
/*# sourceMappingURL=index.css.map */


.intro p{
  font-size: 3opx;
}


.skills-header{
  text-align: center;
  font-size: 40px;
  color: black;
  
}
#skills{
  padding: 0px;
}

.skills-header{
  color: black;
  font-size: 1.3rem;
}

#skills-container{
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* margin: 20px; */
  color: black;
  /* margin-bottom: 20px; */
  background-color: rgba(255, 255, 255, 0.957);
  color: rgb(61, 95, 167);
  /* border: 1px solid ; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.199), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#skills-row{
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: start;
  /* width: max-content; */
  /* width: 100%; */
}
#project-item{
  margin: 5px;
}
.card-img{
  object-fit: fill;
}
.projects-title{
  font-size: 40px;
  text-align: center;
  color: rgb(23, 16, 16);
}
#project-image{
  height: 300px;
}

#project-image img{
  border: 2px solid black;
  /* width: 100%; */
  height: 500px;
}
.project-description-title{
  text-decoration: underline;
  font-size: 25px;
}
.skills-description{
  font-size: 0.9rem;
  color: rgb(24, 24, 24);
}

           
           
#spinner   {  
           
  animation: spin 1s linear infinite;
  color: red;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.inline{
display: flex;
/* height: 100vh; */
}
.center{
flex:left;
}
.spinner i{
margin-top: 10px;
margin-left: 50px;


}