nav{
    width: 100%;

}


.intro p{
    font-size: 35px;
    color: orangered;
}
#name{
    font-size: 40px;
    font-weight: bold;
    color: orange;
}
.card-img-top{
    width: 50px;
    height: auto;
}
.card{
    margin-bottom: 20px;
}
#skills-container{
    width: 100%;
    
}
.card{
    padding: 10px;
}
#tickets, #agencies, #busses{
    background-color: darkblue !important;
}