body{
    background-color: rgb(8, 4, 22) !important;
}

nav{
    width: 100%;

}

#name-desc{
    font-size: 20px;
    color: white;
}
.skills-header{
    color: white;
}
.intro p{
    font-size: 35px;
    color: orangered;
}
#name{
    /* font-size: 40px; */
    font-weight: bold;
    color: orange;
}
hr{
    color: white !important;
}
.card-img-top{
    width: 50px;
    height: auto;
}
.card{
    margin-bottom: 20px;
}
#skills-container{
    width: 100%;
    
}
.card{
    padding: 10px;
}
#tickets, #agencies, #busses{
    background-color:red !important;
}